@mixin smallcaps($size) {
  font-size: $size;
  letter-spacing: 1pt;
  text-transform: uppercase;
}

@mixin table-td-padding($td-pad) {
  table {
    td {
      padding: $td-pad;
    }
  }
}

body {
  font-family: sans-serif;

  a {
    color: #4ecdc4;
    text-decoration: none;
    //black
    //color: #fff !important;
    //mint
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  // I couldn't find whatever this style is supposed to be applying to, but it's fucking up all the other forms. If you actually need this style somewhere, stick a class name on it.
  // form {
  //   div {
  //     display: inline-block;
  //     margin: 1em;
  //   }
  // }

  .deckview-slide-container {
    button {
      display: inline-block;
    }
  }

  .markdown {
    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.markdown-speaker-container{

}

// --------------- Flexbox Default Styles --------------

// body {
//   font: 24px Helvetica;
//   background: #333333;
// }

// parent
#main {
  display: flex;
  flex-flow: row;
  height: 100vh;
  margin: 0;
  // min-height: 575px;
  padding: 0;
}

//children
#main > section {
  background: #dd8;
  border: 1px solid #cc3;
  border-radius: 7pt;
  flex: 3 1 60%;
  margin: 4px;
  order: 2;
  padding: 5px;
}

#main > nav {
  background: #ccf;
  border: 1px solid #88b;
  border-radius: 7pt;
  flex: 1 6 20%;
  margin: 4px;
  min-width: 200px;
  order: 1;
  padding: 5px;
}

#main > aside {
  background: #ccf;
  border: 1px solid #88b;
  border-radius: 7pt;
  flex: 1 6 20%;
  margin: 4px;
  min-width: 200px;
  order: 3;
  padding: 5px;
  overflow: auto;
}

#main > footer {
  display: block;
  order: 3;
}


header,
footer {
  background: #feb;
  border: 1px solid #eb5;
  border-radius: 7pt;
  display: block;
  margin: 4px;
  min-height: 100px;
  padding: 5px;
}

header.global {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  min-height: 80px;
}

header.global > h1 {
  display: inline-block;
  width: 20%;
}

header.global > h1 > img {
  vertical-align: middle;
}

header.global > nav {
  display: inline-block;
  text-align: right;
  width: 50%;
}


//LANDING SAMPLES

#main.landing {
  flex-flow: column;
  height: 84vh;
}

#main.landing > section {
  //background-color:transparent;
  text-align: center;
}

#main.landing > footer {
  //background-color:transparent;
  order: 3;
  text-align: center;
}

//BLACK SLICK

//header.global{
//  min-height: 80px;
//  display:flex;
//  flex-flow:row;
//  align-items: center;
//  background-color:#000;
//  margin: 0;
//  padding-left:20px;
//  border:none;
//  border-radius: 0;
//  border-top:3px solid #6986f4;
//  justify-content:space-between;
//}

#main.landing2 {
  flex-flow: column;
  height: 88vh;
}

#main.landing2 > header {}

#main.landing2 > section {
  background-color: #111;
  background-image: url('/styles/flexor/img/backgrounds/buildings.png');
  border: 0;
  border-radius: 0;
  border-top: 2px solid #2d562f;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  text-align: center;
}

#main.landing2 > section > h1 {
  color: #696a6d;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 36px;
  letter-spacing: 4px;
}

#main.landing2 > section > h1 > img {
  vertical-align: middle;
}

#main.landing2 > section > h2 {
  color: #999;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

#main.landing2 > footer {
  background-color: #000;
  border: 0;
  border-radius: 0pt;
  border-top: 2px solid #632624;
  margin: 0;
  order: 3;
  padding-top: 10px;
  text-align: center;
}


//MINT
header.global {
  align-items: center;
  background-color: #30333A;
  border: none;
  border-radius: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 0;
  min-height: 40px;
  padding-left: 20px;
}

#main.landing3 {
  flex-flow: column;
  height: 88vh;
}

#main.landing3 > header {}

#main.landing3 > section {
  background-color: #111;
  background-image: url('/images/bg_dark.png');
  background-repeat: repeat;
  border: 0;
  border-radius: 0;
  border-top: 10px solid #4ecdc4;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  text-align: center;
}

#main.landing3 > section > h1 {
  color: #696a6d;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 36px;
  letter-spacing: 4px;
}

#main.landing3 > section > h1 > img {
  vertical-align: middle;
}

#main.landing3 > section > h2 {
  color: #999;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

#main.landing3 > footer {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  display: none;
  margin: 0;
  order: 3;
  padding-top: 10px;
  text-align: center;
}

// END LANDING SAMPLES

.slide-nav {
  background: transparent;
  border: 0;
  bottom: 0;
  left: 0;
  min-height: 30px;
  padding: 18px 30px;
  position: absolute;
  right: 0;
  text-align: right;

  button {
    display: inline-block;
  }
}

// Too narrow to support three columns

@media all and (max-width: 640px) {
  #main,
  #page {
    flex-direction: column;
  }

  #main > section,
  #main > nav,
  #main > aside {
    // Return them to document order
    order: 0;
  }

  #main > nav {
    height: 50px;
  }
}

// ------------- End Flexbox Default Styles ------------

// -------------------- Slide views --------------------
#main.slide-view-frame {
  //for slideviewframe wrapper
  height: 98vh;
  margin: 5px 10px 0px 8px;
  padding: 0px;
}

#main.slide-view-frame > section {
  display: flex;
  flex-flow: column;
  border: 1px solid #ccc;
  background-color: #f0f0f3;
}

#main.slide-view-frame > section > header {
  border: 1px solid #e2e2e2;
  background-color: #eee;
  order: 1;
}

#main.slide-view-frame > section > div {
  display: flex;
  flex-flow: row;
  order: 2;
}

#main.slide-view-frame > section > div > section {
  margin: 4px;
  padding: 5px;
  border: 1px solid #e2e2e2;
  border-radius: 7pt;
  background: #eee;
  flex: 3 1 60%;
  order: 2;
}

#main.slide-view-frame > section > div > section.mid-page {
  align-self: flex-end;
  height: 400px;
}

#main.slide-view-frame > section.slide-block {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#speaker-note-header {
  font-size: 18px;
  padding-bottom: 5px;
  padding-top: 2px;
  text-align: center;
}

// -------------------- Edit slide form --------------------
.edit-slide-form {
  margin-left: 20px;

  hr {
    margin-left: -20px;
  }

  .ace_editor {
    border: 1px solid #ccc;
    font-family: 'source-code-pro', 'Consolas', 'Ubuntu Mono', 'Monaco', 'Menlo', monospace;
    max-width: 70em;
  }

  .button-row {
    text-align: center;

    button {
      display: inline-block;
      margin: 0 5px;
    }
  }

  .deck-title {
    font-style: italic;
  }

  .header-label {
    @include smallcaps(.8em);
    color: #999;
  }

  .save-from-toast {
    display: inline-block;
    margin-bottom: 4px;
  }
}

// -------------------- New/edit deck forms --------------------
.dumb-deck-form {
  hr {
    margin-left: -20px;
  }

  .actual-radio-group {
    margin-bottom: 24px;
  }

  [type="radio"] {
    display: inline-block;
  }

  .radio-label-inline {
    display: inline-block;
    margin-right: 1em;
    margin-top: 3px;
  }
}

.edit-deck-form,
.new-deck-form {
  margin-left: 20px;
  margin-top: 20px;
}

// -------------------- Navbar --------------------
.nav-bar {
  .nameplate-img {
    vertical-align: middle;
  }

  .nameplate {
    color: #666;
    display: inline-block;
    font-weight: bold;
    margin: 0;
    padding: 18px 0;
    text-decoration: none;

    span {
      padding-bottom: 5px;
      vertical-align: middle;
    }
  }
}

// -------------------- Slide View Live --------------------
.has-footer {
  .footer-presenter {
    height: 205px;
    .slide-nav {
      position: relative;
    }
  }

  footer {
    margin: 0 10px;
    min-height: 7vh;
    position: absolute;
    width: 96.6vw;
  }
}

div.slide-view-live.has-footer > #main{
  height:90vh;
}



// -------------------- Home --------------------
.user-home {
  margin-left: 20px;
}
//----------------ChatBox------------------------

.chat-box{
  padding: 3px;
  .chat-send {
    display: inline-block;
    margin: 5px;
  }
  .chat-form {
    margin: 2px;
  }
  .chat-log {
    border: 1px solid #a0a0a0;
    border-radius: 4pt;
  }
  .chat-message {
    margin: 2px 8px;
  }

}

.slide-view-live {
  .chat-box {
    height: 200px;
    margin: 0 2px;
    min-height: 7vh;
    max-height: 20vh;
    position: absolute;
    width: 96.6vw;
    //overflow: auto;
    max-width: 67vw;
    }
  }

// --------- override weird Deque toast positioning ---------
.dqpl-toast {
  top: 0;
}

@media (min-width: 1024px) {
  body:not(.dqpl-no-sidebar) .dqpl-toast {
    left: 0;
  }
}

// ------------------------ Deck overview -------------------
.deck-overview {
  @include table-td-padding(3px);

  margin-left: 20px;

  hr {
    margin-left: -20px;
  }

  .edit-deck-button {
    display: inline-block;
  }

  .present-link {
    @include smallcaps(.7em);

    &::before {
      color: #666;
      content: '   |   ';
    }
  }
}

// --------------------------- Deck list -------------------
.user-deck-list {
  @include table-td-padding(3px);

  margin-left: 20px;

  hr {
    margin-left: -20px;
  }
}

// -------------------- Remote --------------------
.remote-container {
  height: 100vh;
  width: 98%;
  background-color: #30333A;
  color: #4ecdc4;
  padding: 10px 5px;
  border: 1px solid #ccc;
  display: flex;
  flex-flow: column;
  h1{
    text-align: center;
    padding: 2px 2px;
    margin: 3px 3px;
  }
  h2{
    text-align: center;
    padding: 2px 2px;
    margin: 3px 3px;
  }
  .remote-button-container {
    min-height: 36px;
    display: flex;
    flex-flow: row;
    order: 1;
  }
  .remote-speaker-notes {
    display: flex;
    flex-flow: column;
    padding: 5px;
    order: 2;
    .show-notes-btn-container {
      height: 40px;
      margin: 3px;
      order: 0;
    }
    .markdown {
      flex-grow: 1;
      overflow: auto;
      padding-top: 10px;
      order: 1;
      p {
        font-size: 18px;
      }
    }
  }//end .remote-speaker-notes
}//end .remote-container


.runkit-container{
  overflow: auto;
  max-height: 100%;
  padding-left: 25px
}

.dqpl-toast-error {
  a {
    color: white;
  }
}
