body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  // I couldn't find whatever this style is supposed to be applying to, but it's fucking up all the other forms. If you actually need this style somewhere, stick a class name on it.
  // form {
  //   div {
  //     display: inline-block;
  //     margin: 1em;
  //   }
  // }

  .deckview-slide-container {
    button {
      display: inline-block;
    }
  }

  .markdown {
    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}


// --------------- Flexbox Default Styles --------------

// body {
//   font: 24px Helvetica;
//   background: #999999;
// }

// parent
#main {
  display: flex;
  flex-flow: row;
  height: 100vh;
  margin: 0;
  // min-height: 575px;
  padding: 0;
}

//children
#main > section {
  background: #dd8;
  border: 1px solid #cc3;
  border-radius: 7pt;
  flex: 3 1 60%;
  margin: 4px;
  order: 2;
  padding: 5px;
}

#main > nav {
  background: #ccf;
  border: 1px solid #88b;
  border-radius: 7pt;
  flex: 1 6 20%;
  margin: 4px;
  min-width: 200px;
  order: 1;
  padding: 5px;
}

// #main > aside {
//   margin: 4px;
//   padding: 5px;
//   border: 1px solid #88b;
//   border-radius: 7pt;
//   background: #ccf;
//   flex: 1 6 20%;
//   min-width:200px;
//   order: 3;
// }

#main > footer{
  display: block;
  order: 3;
}


header,
footer {
  background: #feb;
  border: 1px solid #eb5;
  border-radius: 7pt;
  display: block;
  margin: 4px;
  min-height: 100px;
  padding: 5px;
}

.slide-nav {
  background: transparent;
  border: 0;
  bottom: 0;
  left: 0;
  min-height: 30px;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-align: right;

  button {
    display: inline-block;
  }
}

// Too narrow to support three columns
@media all and (max-width: 640px) {
  #main,
  #page {
    flex-direction: column;
  }

  #main > section, #main > nav, #main > aside {
    // Return them to document order
    order: 0;
  }

  #main > nav {
    height: 50px;
  }
}

// ------------- End Flexbox Default Styles ------------

// -------------------- Slide views --------------------
.slide-view-frame {
  .slide-block {
    section {
      background: #dd8;
      border: 1px solid #cc3;
      border-radius: 7pt;
      flex: 3 1 60%;
      margin: 4px;
      order: 2;
      padding: 5px;
    }

    .mid-page {
      align-self: flex-end;
      height: 400px;
    }

    .columns-header {}

    header,
    footer {
      background: #feb;
      border: 1px solid #eb5;
      border-radius: 7pt;
      height: 50px;
      margin: 4px;
      padding: 5px;
    }
  }

  aside {
    background: #ccf;
    border: 1px solid #88b;
    border-radius: 7pt;
    flex: 1 6 20%;
    margin: 4px;
    min-width: 200px;
    order: 3;
    padding: 5px;
  }
}

// -------------------- Slide views --------------------
.new-deck-form {
  .form-group {
    display: block;
  }
}
